<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
  <div id="header">
    <h1 id="welcome"> welcome to the gym</h1>
  </div>
 
    <form action="submit" method ="post" id="bodys" name="bodys">
    <input type="text" name="name" id="name " placeholder="enter your name">
    <input type="text" name="age" id="age " placeholder="enter your age">
    <input type="text" name="gender" id="gender " placeholder="enter your gender">
    <textarea name="about" name="about" id="about" placeholder="enter the more about you" cols="5" rows="10"></textarea>
    <button type="submit" id="btn">submit</button>

    </form>
    
    script(src="../static/javascript.js")
</body>
</html>